server:
  port: 8083
spring:
  application:
    name: payment-service
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

  cloud:
    function:
      definition: commandsIn;eventsOut

    stream:
      rabbit:
        bindings:
          commandsIn-in-0:
            consumer:
              auto-bind-dlq: true

      bindings:
        commandsIn-in-0:
          destination: payment-commands-exchange
          group: payment-service-listener

        eventsOut-out-0:
          destination: payment-events-exchange

