server:
  port: 8084
spring:
  application:
    name: order-service
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
  cloud:
    function:
      definition: inventoryIn;paymentIn;inventoryOut;paymentOut;eventsOut

    stream:
      rabbit:
        bindings:
          inventoryIn-in-0:
            consumer:
              auto-bind-dlq: true
          paymentIn-in-0:
            consumer:
              auto-bind-dlq: true

      bindings:
        inventoryOut-out-0:
          destination: inventory-commands-exchange

        paymentOut-out-0:
          destination: payment-commands-exchange

        eventsOut-out-0:
          destination: order-events-exchange

        inventoryIn-in-0:
          destination: inventory-events-exchange
          group: order-service-inventory-listener

        paymentIn-in-0:
          destination: payment-events-exchange
          group: order-service-payment-listener

